<div class="alert-container">
    <div class="alert">
        <svg class="icon icon-warning alert__icon">
            <use xlink:href="#icon-warning"></use>
        </svg>
        <div class="alert__message">You can only buy</div>
    </div>
</div>