<section class="countdown section-spacing js-countdown">
    <div class="container">
        <div class="countdown-wrapper">
            <div class="countdown__text-wrapper">
                <div class="countdown__text">
                    Get <span class="countdown__text--highlighted">50% Off </span>Before It's too Late!<br>
                </div>
                <div class="countdown__text countdown__text--secondary js-endDate">
                    Offer ends on <time>Sunday, 19 August 2021 11:59</time>
                </div>
            </div>
            <div class="countdown__box-wrapper js-countdown">
                <div class="countdown__box">
                    <div class="countdown__box__time js-countdownValue">14</div>
                    <div class="countdown__box__text">days</div>
                </div>
                <div class="countdown__box">
                    <div class="countdown__box__time js-countdownValue">14</div>
                    <div class="countdown__box__text">hours</div>
                </div>
                <div class="countdown__box">
                    <div class="countdown__box__time js-countdownValue">14</div>
                    <div class="countdown__box__text">mins</div>
                </div>
                <div class="countdown__box">
                    <div class="countdown__box__time js-countdownValue">14</div>
                    <div class="countdown__box__text">secs</div>
                </div>
            </div>
        </div>
    </div>
</section>