<section class="faqs section-spacing" id="faqs">
    <div class="container">
        {% include 'section-name' with title: "FAQ's" %}
        <div class="faqs-container">
            <div class="faqs-wrapper js-faqsWrapper">
                <button class="faqs__question js-faqsQuestion" type="button" aria-label="FAQ's Questions">
                    <p class="faqs__question__title">How much money should I pay for delivery?</p>
                    <div class="faqs__question__icon">
                        <svg class="icon icon-down">
                            <use xlink:href="#icon-down"></use>
                        </svg>
                    </div>
                </button>
                <div class="faqs__answer">
                    You don't have to pay for delivery. It's totally free!
                </div>
            </div>
            <div class="faqs-wrapper js-faqsWrapper">
                <button class="faqs__question js-faqsQuestion" type="button" aria-label="FAQ's Questions">
                    <p class="faqs__question__title">How many days should I wait before reaching you?</p>
                    <div class="faqs__question__icon">
                        <svg class="icon icon-down">
                            <use xlink:href="#icon-down"></use>
                        </svg>
                    </div>
                </button>
                <div class="faqs__answer">
                    It is enough to wait 3-7 days for the delivery. 
                </div>
            </div>
            <div class="faqs-wrapper js-faqsWrapper">
                <button class="faqs__question js-faqsQuestion" type="button" aria-label="FAQ's Questions">
                    <p class="faqs__question__title">Do you have refund policy?</p>
                    <div class="faqs__question__icon">
                        <svg class="icon icon-down">
                            <use xlink:href="#icon-down"></use>
                        </svg>
                    </div>
                </button>
                <div class="faqs__answer">
                    Yes, we have.
                </div>
            </div>
        </div>
    </div>
</section>