<footer class="footer section-spacing">
    <div class="container">
        <div class="footer-wrapper">
            <svg class="icon icon-logo header__logo__icon">
                <use xlink:href="#icon-logo"></use>
            </svg>
            <div class="footer__rights">
                © <time class="js-footerDate">2021</time> · Made with 💕  by <a class="link" href="http://twitter.com/hey_fk" title="@hey_fk" target="blank">hey_fk</a>
            </div>
        </div>
    </div>
</footer>