<header class="header fixed-header js-header">
    <div class="container">
        <div class="header-wrapper">
            <a  class="header__logo" href="#">
                <svg class="icon icon-logo header__logo__icon">
                    <use xlink:href="#icon-logo"></use>
                </svg>
                <div class="header__logo__brand">ecomm</div>
            </a>
            <nav class="header__nav js-headerNav">
            </nav>
            <div class="header__button-container">
                <button class="header__button header__button--cart js-headerButtonCart" type="button" aria-label="Header Cart">
                    <svg class="icon icon-cart">
                        <use xlink:href="#icon-cart"></use>
                    </svg>
                    <span class="header__button--cart__title js-headerCartTitle">Cart(0)</span>
                </button>
                <button class="header__button header__button--menu js-headerButtonMenu" type="button" aria-label="Menu button">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="icon icon-menu" viewBox="0 0 24 24">
                        <path class="menu-line" d="M6 7.875h12"></path>
                        <path class="menu-line" d="M9 11.625h9"></path>
                        <path class="menu-line" d="M6 15.375h12"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>