<div class="product__item">
    <img class="product__item__image" src="img/{{image}}" alt="Product image">
    <div class="product__item__detail">
        <div class="product__item__detail__title">Sweet Sunglasses</div>
        <div class="product__item__detail__desc">Green sunshine of the summer</div>
        <div class="product__item__detail__price">$1.409
    </div>
    </div>
    {% include 'button' with modifier: 'primary', title: 'Add to Cart' %}
</div>