<section class="product section-spacing" id="products">
    <div class="container">
        {% include 'section-name' with title: 'Products' %}
        <div class="product__category-container js-productCategoryContainer">
        </div>
        <div class="product-container js-productContainer">
        </div>
    </div>
</section>