<div class="slider">
    <div class="slider__item-container js-sliderItemContainer">
    </div>
    <div class="slider__button-container">
        <button class="slider__button js-btnPrev" type="button" aria-label="Prev">
            <svg class="icon icon-prev">
                <use xlink:href="#icon-prev"></use>
            </svg>
        </button>
        <button class="slider__button js-btnNext" type="button" aria-label="Next">
            <svg class="icon icon-next">
                <use xlink:href="#icon-next"></use>
            </svg>
        </button>
    </div>
</div>